certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
cryptography==41.0.3
ghp-import==2.1.0
idna==3.10
importlib-metadata
jaraco.classes==3.4.0
jeepney==0.9.0
jinja2==3.1.6
keyring==24.2.0
markdown
MarkupSafe
mergedeep
mkdocs
mkdocs-get-deps
more-itertools
packaging
pathspec
platformdirs
pycparser
python-dateutil
python-dotenv
PyYAML
pyyaml-env-tag
requests
SecretStorage
six
tabulate
tqdm
urllib3
watchdog
zipp
